# ==============================
# SISTEMA OPERACIONAL
# ==============================

.DS_Store
Thumbs.db
desktop.ini


# ==============================
# VS CODE
# ==============================

.vscode/


# ==============================
# LOGS
# ==============================

*.log


# ==============================
# VARIÁVEIS DE AMBIENTE
# ==============================

.env
.env.*
!.env.example


# ==============================
# NODE / FRONT-END FUTURO
# ==============================

node_modules/
dist/
build/


# ==============================
# PYTHON / BACK-END FUTURO
# ==============================

__pycache__/
*.pyc
.venv/
venv/


# ==============================
# ARQUIVOS TEMPORÁRIOS
# ==============================

*.tmp
*.temp
